<div id="form">
  <div class="title"><h2>log in</h2></div>
  <form action="/login" method="POST">
    <label> username
      <input type="text" name="username" placeholder=" 🫧 ur username 🫧 " class="input"/>
    </label><br><br>

    <label> password
      <input type="password" name="password" placeholder=" 🫧 ur password 🫧 " class="input"/>
    </label><br><br>

    <button type="submit" class="button">log in</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
